.Maindiv{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}
.Maindiv > div:nth-child(1){
    background-color: rgba(0, 0, 0, 0.311);
    border-radius: 10px;
    padding: 0.5%;
}
.Maindiv > div:nth-child(2){
    width: 24%;
    background-color: rgba(0, 0, 0, 0.311);
    border-radius: 10px;
}
.Iframe{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 74%;
}
.Iframe > iframe{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: max-content;
    box-shadow: 0px 0px 100px 13px rgba(255, 0, 0, 0.219);
    aspect-ratio: 16/9;
}
.SinglePost{
    width: 92%;
    display: flex;
    margin: 2%;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    padding: 2%;
}
.SinglePost > div{
    max-width: 50%;
}
.SinglePost > div > img{
    height: auto;
    width: 100%;
    border-radius: 5px;
}
.SinglePost > div:nth-child(2){
    margin:  0 0.5rem;
}
.SinglePost > div:nth-child(2) > div:nth-child(1){
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.SinglePost > div:nth-child(2) > div:nth-child(2){
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    margin-top: 0.3rem;
    color: rgba(255, 255, 255, 0.548);
}
.Title{
    color: white;
    margin: 1.5rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.3rem;
    font-family: 'Concert One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Ads{
    margin: 1rem 0;
    width: 50%;
}
.Ads > a{
    width: 50%;
}
.Ads > a > img{
    width: 100%;
    border-radius: 5px;
}
.viewgrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}
.Images {
    border-radius: 5px;
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
    transition: ease 0.3s;
    object-fit: cover;
    aspect-ratio: 16/9;
}
.Images:hover {
    transform: scale(1.2);
    z-index: 1;
}
.Body{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin: 0;
}
.Body > h2{
    color: white;
    font-size: 3vw;
    font-family: 'Concert One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Form > label{
    color: white;
    margin-top: 2vw;
}
.Form > div{
    text-align: right;
    color: rgb(187, 187, 187);
    font-size: 1vw;
    margin-top: 1vw;
    text-decoration: underline;
    cursor: pointer;
}
.Input {
    width: 100%;
    border-radius: 8px;
    margin-top: 1vw;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: transparent;
}

.Button {
    width: 100%;
    padding: 10px;
    background-color: #fde000;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease 1s;
}
.Button:hover {
    background-color: #fddf00ad;
}
.socialbuttons {
    text-align: center;
    width: 300px;
}
.socialbuttons > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.socialbuttons > div > button{
    padding: 10px;
    background-color: #fde000;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.socialbuttons > h3{
    color: white;
    font-size: 2vw;
    font-family: 'Concert One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
    .Maindiv{
        margin: 0.5rem;
    }
    .Maindiv > div:nth-child(2){
        width: 30%;
    }
    .Iframe{
        width: 68%;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
    .Maindiv{
        flex-direction: column;
    }
    .Iframe{
        width: 99%;
    }
    .Maindiv > div:nth-child(2){
        width: 100%;
        margin-top: 1rem;
    }
    .SinglePost > div{
        max-width: 30%;
    }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .viewgrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.5rem;
    }
    .Title{
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .SinglePost > div:nth-child(2){
        max-width: 68%;
    }
    .Maindiv{
        margin: 0.2rem;
        margin-top: 0.5rem;
    }
    .Ads{
        width: 100%;
    }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
    .viewgrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.5rem;
    }
}