.HomeBanner{
    display: flex;
    margin-top: 4vw;
}
.HomeBanner > div{
    width: 50%;
}
.HomeBanner > div:nth-child(2){
    display: flex;
    align-items: center;
    margin-left: 3vw;
}
.HomeBanner > div:nth-child(2) > div > div:nth-child(1){
    color: rgba(255, 255, 255, 0.534);
    font-size: 1vw;
    max-width: 70%;
}
.HomeBanner > div:nth-child(2) > div > div:nth-child(2){
    color: rgb(255, 255, 255);
    font-size: 4vw;
    margin: 2vw 0;
}
.HomeBanner > div:nth-child(2) > div > a{
    color: rgba(255, 255, 255, 0.39);
    font-size: 1vw;
    text-decoration: none;
    background-color: black;
    padding: 1vw 2vw;
    border-radius: 10px;
}
.HomeBanner > div:nth-child(1) > img{
    width: 100%;
    height: auto;
    filter: drop-shadow(5px -8px 100px rgb(0, 255, 55));
}
@media screen and (min-width: 0px) and (max-width: 550px) {
    .HomeBanner > div:nth-child(2) > div > div:nth-child(1){
        font-size: 2vw;
    }
    .HomeBanner > div:nth-child(2) > div > div:nth-child(2){
        font-size: 5vw;
    }
    .HomeBanner > div:nth-child(2) > div > a{
        font-size: 2vw;
    }
}