.scrollingcontainer {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin: auto;
  margin-top: 4rem;
  mask-image: linear-gradient(to right,transparent 0, black 128px, black calc(100% - 128px),transparent 100%);
  -webkit-mask-image: linear-gradient(to right,transparent 0, black 128px, black calc(100% - 128px),transparent 100%);
}

.scrollingcontent {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 35s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.scrollingcontent > a {
  display: inline-block;
  color: white;
  padding: 0.4rem 1.5rem;
  margin-left: 1rem;
  border-radius: 5rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.089);
}
.scrollingcontainer:hover .scrollingcontent{
  animation-play-state: paused;
}
