@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
html,body{
    margin: 0;
    padding: 0;
    background-color: #262a2e;
}
body::-webkit-scrollbar{
	width: 6px;
	background-color: #262a2e;
}
body::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #000000;
}

.Tab{
	display: none;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
	.Tab{
		display: block;
		margin-top: 4rem;
		position: relative;
	}
}