.searchbtn{
    position: absolute;
    right: 2rem;
    top: 5rem;
}
.searchbtn > img{
    width: 2rem;
    height: auto;
    background-color: rgba(0, 0, 0, 0.298);
    padding: 1rem;
    border-radius: 5px;
}
.TextDiv {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -6rem;
    box-shadow: inset 0px 100px 100px 0px rgba(0,0,0);
}
.TextDiv > div {
    display: flex;
    height: 110vh;
    background: linear-gradient(90deg,#181818 10%,hsla(0,0%,9%,.98) 20%,hsla(0,0%,9%,.91) 25%,hsla(0,0%,9%,.79) 35%,hsla(0,0%,9%,.58) 40%,hsla(0,0%,9%,.53) 45%,hsla(0,0%,9%,.2) 50%,hsla(0,0%,9%,0) 55%,hsla(0,0%,9%,0) 60%,hsla(0,0%,9%,0) 65%,hsla(0,0%,9%,0) 70%,hsla(0,0%,9%,0) 75%,hsla(0,0%,9%,.21) 80%,hsla(0,0%,9%,0) 85%,hsla(0,0%,9%,0) 90%,hsla(0,0%,9%,0) 95%,hsla(0,0%,9%,0));
}
.TextDiv > div > div {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 3.5rem;
    max-width: 32rem;
}
.Small_Image > img {
    width: 100%;
    height: auto;
}
.AboutBanner {
    padding-top: 1.75rem;
}
.AboutBanner > h1 {
    font-size: 2.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: white;
    font-family: 'Concert One',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.AboutBanner > div {
    margin: 1rem 0;
}
.AboutBanner > div > span{
    color: white;
    font-size: 0.9rem;
    margin-right: 0.3rem;
}
.AboutBanner > div > a {
    border: 1px solid rgb(0, 0, 0);
    background-color: red;
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Concert One',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Paragraph > div:nth-child(1) {
    color: white;
    font-size: 0.9rem;
    line-height: 1rem;
    padding-right: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Paragraph > div:nth-child(2){
    margin: 1rem 0;
    color: rgb(194, 193, 193);
    font-size: 0.8rem;
}
@media screen and (min-width: 0px) and (max-width: 1700px) {
}
@media screen and (min-width: 0px) and (max-width: 1500px) {
}
@media screen and (min-width: 0px) and (max-width: 1300px) {
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
    .AboutBanner {
        padding-top: 0;
    }
    .TextDiv > div > div {
        padding-left: 1rem;
    }
    .TextDiv > div {
        height: 100vh;
    }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
    .Small_Image > img {
        display: none;
    }
    .TextDiv > div {
        height: 80vh;
    }
    .TextDiv > div > div {
        width: 60%;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
    .Paragraph > div:nth-child(1) {
        display: none;
    }
    .Paragraph > div:nth-child(2) {
        display: none;
    }
    .AboutBanner > div > span{
        display: none;
    }
    .AboutBanner > div > a {
        margin-left: 0;
        padding: 0.3rem 1rem;
    }
    .TextDiv > div {
        height: 70vh;
    }
}
@media screen and (min-width: 0px) and (max-width: 700px) {
    .AboutBanner > div > a {
        display: none;
    }
    .TextDiv > div {
        height: 60vh;
    }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .AboutBanner > h1 {
        display: none;
    }
    .TextDiv > div {
        height: 55vh;
        background: none;
    }
    .TextDiv {
        background-attachment: scroll;
        margin-top: 0;
        box-shadow: inset -130px 263px 72px -203px rgba(0,0,0);
    }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    .TextDiv > div {
        height: 50vh;
    }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
    .TextDiv > div {
        height: 40vh;
    }
}