.Banners{
    width: 100%;
}
.Banners > div {
    width: 70%;
    margin: auto;
}
.BlogSearch{
    width: 100%;
}
.BlogSearch > input{
    width: 100%;
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.849);
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    /* font-family: 'Concert One',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.Results{
    width: 50%;
    margin-top: 1rem;
    font-weight: 100;
    color: white;
    font-size: 1.5rem;
    font-family: 'Concert One',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.SinglePost{
    width: 100%;
    display: flex;
    margin: 1rem 0;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    padding: 1rem;
}
.SinglePost > div{
    max-width: 60%;
}
.SinglePost > div > img{
    height: auto;
    width: 10rem;
    border-radius: 5px;
}
.SinglePost > div:nth-child(2){
    margin:  0 0.5rem;
}
.SinglePost > div:nth-child(2) > div:nth-child(1){
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.SinglePost > div:nth-child(2) > div:nth-child(2){
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    margin-top: 0.3rem;
    color: rgba(255, 255, 255, 0.548);
}
.ViewAllBtn{
    text-align: center;
}
.ViewAllBtn > a{
    text-decoration: none;
    color: white;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}
@media screen and (min-width: 0px) and (max-width: 700px) {
    .Banners > div {
        width: 90%;
        margin: auto;
    }
    .BlogSearch > input{
        padding: 1rem 0;
    }
    .SinglePost{
        padding: 0;
    }
    .SinglePost > div > img{
        width: 8rem;
        border-radius: 5px;
    }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    .Banners > div {
        width: 98%;
        margin-top: 1rem;
    }
    .BlogSearch > input{
        width: 99%;
    }
}