.homenav{
    width: 98%;
    margin: 1%;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    background-color: #161819;
    box-shadow: rgba(255, 0, 0, 0.473) 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    padding: 1%;
}
.divlog{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.navmenu{
    display: flex;
}
.logotext{
    background-clip: padding-box;
    background: radial-gradient(circle farthest-corner at center center, #afa546 0%, #CFCFCF 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    padding: 4% 0 0 4%;
    margin: 0;
}
.menu {
    display: flex;
    align-items: center;
}
.menu > div {
    display: flex;
    margin: 1% 3rem 0 0;
}
.LinkText {
    position: relative;
    color: rgb(204, 198, 187);
    text-decoration: none;
    display: flex;
    white-space: nowrap;
    align-items: flex-end;
    font-family: 'Nunito',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s ease;
}
.LinkText::before, .LinkText::after {
    content: "";
    position: absolute;
    width: 0;
    background-color: #00ff88;
    height: 2px;
    transition: width 0.5s ease;
}
  
.LinkText::before {
    left: 0;
    right: auto;
    bottom: 0;
}
  
.LinkText::after {
    right: 0;
    left: auto;
    bottom: 0;
}
.LinkText:hover{
    color: white;
}
.LinkText:hover::before {
    width: 50%;
}
  
.LinkText:hover::after {
    width: 50%;
}
.LinkText:hover + .navitem, .navitem:hover {
    display: block;
}
.arrow{
    transform: rotate(90deg);
    color: white;
    font-size: 0.7rem;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: bolder;
}
.signinbtn{
    background-color: black;
    color: white;
    line-height: 2rem;
    padding: 0 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
    letter-spacing: 0.01rem;
    font-family: 'Concert One',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: rgba(0, 238, 255, 0.473) 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.navitem{
    position: absolute;
    margin: 0;
    padding: 1rem;
    display: none;
    border-radius: 10px;
    background-color: #161819;
    box-shadow: rgba(255, 0, 0, 0.473) 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.navitem > div {
    line-height: 2rem;
}
.navitem > div:nth-child(-n+8){
    display: none;
}
@media screen and (min-width: 0px) and (max-width: 1700px) {
    .menu > div:nth-child(8){
        display: none;
    }
    .navitem > div:nth-child(8){
        display: block;
    }
}
@media screen and (min-width: 0px) and (max-width: 1500px) {
    .menu > div:nth-child(7){
        display: none;
    }
    .navitem > div:nth-child(7){
        display: block;
    }
}
@media screen and (min-width: 0px) and (max-width: 1300px) {
    .menu > div:nth-child(6){
        display: none;
    }
    .navitem > div:nth-child(6){
        display: block;
    }
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
    .menu > div:nth-child(5){
        display: none;
    }
    .navitem > div:nth-child(5){
        display: block;
    }
}
@media screen and (min-width: 0px) and (max-width: 900px) {
    .menu > div:nth-child(4){
        display: none;
    }
    .navitem > div:nth-child(4){
        display: block;
    }
}
@media screen and (min-width: 0px) and (max-width: 700px) {
    .menu > div:nth-child(3){
        display: none;
    }
    .navitem > div:nth-child(3){
        display: block;
    }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .menu > div:nth-child(2){
        display: none;
    }
    .navitem > div:nth-child(2){
        display: block;
    }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    .menu > div:nth-child(1){
        display: none;
    }
    .menu > div:nth-child(9){
        display: none;
    }
    .navitem > div:nth-child(1){
        display: block;
    }
}
  