.RecentPost{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.RecentPost > div:nth-child(1){
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    border-radius: 10px;
}
.RecentPost > div:nth-child(2){
    width: 24vw;
    height: 100vh;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.253);
}